<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <a href="/crew"><button>Назад до списку</button></a>

    <h1><%= member.name %></h1>
    <img src="/images/crew/<%= member.image %>" style="width: 100%; max-width: 256px;">
    <hr>
    <p><a href="<%= member.github %>">Гітхаб</a></p><br>

    <h3>Ролі:</h3>
    <p>
        <% member.roles.forEach(role => { %>
            <%= role %> ✅<br>
        <% }) %>
    </p>
</body>
</html>
